/*Var*/
:root {
	--green: #4B9200;
	--orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	--yellow: #FFEE2E;
	--orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--pink_grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--red: #D31414;
	--black_blue: #333B41;
	--gray: #767474;
	--gray_smoky: #ABABAB;
	--light_gray: #F1F3F2;
	--frosted_glass: rgba(253, 253, 255, 0.52);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6, p {
 	margin: 0;
    font-weight: inherit;
    font-size: inherit;
 }

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    background: #FFF;
    color: var(--black_blue);;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

button {
	text-transform: uppercase;
	border: none;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
	color: #FFF;
	cursor: pointer;
}

/*Header*/
.header {
	background: #000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: 14px 0 14px 0;
}

.header__logo h1{
	text-align: center;
	padding-top: 2px;
}

.header__logo h1 a {
	color: #FFF;
	font-size: 19px;
	text-decoration: none;
}

.header__logo-bamboo {
	position: relative;
	top: -25px;
	left: 8px;
	background: url(../../assets/icons/bamboo.svg) no-repeat;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	list-style: none;
	margin-right: 58px;
}

.nav__item:first-child {
	margin-left: 24px;
}
.nav__link {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.nav__link.active {
	color: orange;
}

.nav__link:hover {
	color: orange;
}

.header__info-link {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.header__info-link:hover {
	color: orange;
}

/*Watch your favorite animal online*/

.panda {
	background: url(../../assets/images/panda.jpg) center no-repeat;
	background-size: cover;
	height: 700px;
}

.panda__content {
	display: flex;
	flex-direction: column;
}

.panda__text {
	width: 500px;
	height: 400px;
	color: #FFF;
	font-weight: 700;
	font-size: 106.5px;
	text-align: center;
	line-height: 75%;
	text-transform: uppercase;
	margin-left: auto;
	position: relative;
	z-index: 10;
	margin-top: 86px;
}

.panda__text::before {
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: block;
    background: var(--orange);
    position: absolute;
    top: -73px;
    right: 109px;
    z-index: -1;
}
.panda__text span {
	color: #FFEE2E;
}

.panda__button, .pets__button {
	width: 298px;
	height: 54px;
	border-radius: 25px;
	background: var(--orange);
	margin-left: auto;
	font-size: 16px;
	margin-top: 60px;
	margin-right: 98px;
	transition: 0.2s ease;
}

.panda__button:hover, .pets__button:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.panda__button:active, .pets__button:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

/*Backstage*/

.backstage {
	margin: 140px 0 177px 0;
}

.backstage__container {
	display: flex;
	justify-content: space-between;
	color: var(--black_blue);
}

.backstage__content {
	display: flex;
	flex-direction: column;
	margin-left: 87px;
}

.backstage__title {
	font-size: 48px;
	line-height: 120%;
}

.backstage__subtitle {
	font-size: 24px;
	line-height: 120%;
	margin-top: 54px;
	margin-bottom: 14px;
}

.backstage__content p {
	font-size: 16px;
	line-height: 130%;
	margin-top: 20px;
}

.backstage__content p:last-child {
	line-height: 140%;
} 

/*Pets*/

.pets__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px 30px;
}

.pets__card {
	border-radius: 5px;
	border: 1px solid #FA6F32;
	cursor: pointer;
}

.pets__content {
	margin: 0 16px 12px 13px;
}

.pets__name {
	text-transform: uppercase;
	font-weight: 500;
}

.pets__native {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}

.pets__img-container {
	display: inline-block;
	overflow: hidden;
}

.pets__img {
	border-radius: 5px 5px 0 0;
}

.pets__card:hover .pets__img{
	transform: scale(1.07);
	transition: ease 0.5s;
}

.pets__card:hover {
	background-color: var(--gray_smoky);
	transition: ease 0.5s;
}

.pets__content.banana{
	background: url(../../assets/icons/banana-bamboo.svg) 100% 40% no-repeat;
}

.pets__content.meet{
	background: url(../../assets/icons/meet-fish.svg) 100% 40% no-repeat;
}

.pets__button {
	display: block;
	margin: 80px auto 100px;
}

/*Pick and feed a friend*/

.food {
	background: var(--orange_grad);
	padding: 69px 0 100px;
}

.food__container {
	display: block;
	background: var(--frosted_glass);
	border-radius: 20px;
}

.food__title {
	text-align: center;
	color: #FE9013;
	font-size: 48px;
	line-height: 120%;
	padding-top: 40px;
}

.food__subtitle {
	margin: 30px 0 42px 100px;
	font-size: 24px;
}

.food__covid {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	margin-left: 100px;
}

.food__donate {
	line-height: 130%;
	margin: 10px 0 60px 100px;
}

.food__donate-link {
	color: var(--black_blue);
	border-bottom: 1px solid #FE9013;
	text-decoration: none;
}

.food__donate-link:hover {
	color: #FE9013;
	transition: color ease 0.2s;
}

.food__subtitle-work {
	text-align: center;
	font-size: 36px;
	line-height: 130%;
	margin-bottom: 40px;
}

.food__button {
	width: 298px;
	height: 54px;
	border-radius: 25px;
	background: var(--orange);
	font-size: 16px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 60px;
	margin-bottom: 60px;
	transition: 0.2s ease;

}

.food__button a {
	text-decoration: none;
	color: #FFF;
	padding: 20px 60px;
}

.food__button:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.food__button:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

.widjet {
	display: flex;
	justify-content: space-between;
	width: 764px;
	margin: 0 auto;
}

.widjet__card {
	width: 168px;
}

.widjet__img-conteiner {
	width: 168px;
	height: 168px;
	border-radius: 5px;
	background: #FFF;
	border: 1px solid #FA6F32;
}

.widjet__img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.widjet__text {
	margin-top: 31px;
	line-height: 140%;
}

.widjet__arrow {
	margin-top: 60px;
}

/*Testimonials*/

.testimonials__title {
	margin-top: 140px;
	margin-bottom: 48px;
	text-align: center;
	font-size: 36px;
	line-height: 130%;
}

.testimonials__contet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 13px;

}

.testimonials__card {
	background: #F1F3F2;
	border-radius: 20px;
	position: relative;
	width: 100%;
	height: 391px;

}

.testimonials__card::before {
	content: "";
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	border-radius: 24px;
	background: var(--pink_grad);
	z-index: -1;
}

.testimonials__name {
	line-height: 120%;
	color: #000;
	margin-left: 63px;
	margin-top: 15px;
}

.testimonials__place {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #BDBDBD;
	margin-left: 63px;
}

.testimonials__text {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: var(--gray);
	margin-top: 10px;
	padding: 0 15px 13px;
	height: 308px;
    overflow: hidden;
}

.testimonials__progress {
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 26px;
	border-radius: 5px;
	position: relative;
}
.testimonials__progress::before {
	content: "";
	position: absolute;
	height: 10px;
	left: -1px;
	bottom: 5px;
	right: -1px;
	border-radius: 5px;
}
.testimonials__progress input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 0px;
	width: 0px;
}
.testimonials__progress #range {
	position: relative;
	background: linear-gradient(to right, #F9804B 0%, #F9804B 20%, #F1F3F2 0%, #F1F3F2 100%);
	border-radius: 5px;
	border: 1px solid #FEBDAB;
	cursor: pointer;
	height: 8px;
	width: 100%;
	outline: none;
	-webkit-transition: background 450ms ease-in;
	-o-transition: background 450ms ease-in;
	transition: background 450ms ease-in;
	-webkit-appearance: none;
}

.testimonials__btn {
	width: 298px;
	height: 54px;
	border-radius: 5px;
	background: var(--orange);
	font-size: 16px;
	transition: 0.2s ease;
	margin-bottom: 180px;
}

.testimonials__btn:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.testimonials__btn:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}
/*Footer*/

.footer {
	background: #111115;
}

.footer__header {
	padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 36px;
}

.footer__logo {
	display: inline-block;
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}

.footer__logo a {
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 19px;
	text-decoration: none;
}

.footer__logo-bamboo {
	position: relative;
	top: -25px;
	left: 8px;
	background: url(../../assets/icons/bamboo.svg) no-repeat;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.footer__nav {
	margin: 0;
}

.footer__subscribe {

}

.footer__subscribe-title {
	font-size: 24px;
	line-height: 120%;
	color: #FFF;
}

.footer__form {

}

.footer__form input[type=email] {
    width: 228px;
    outline: none;
    background: #111115;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    font-size: 1rem;
    color: #FFF;
    padding: 10px;
    border: 0.7px solid;
    border-image: var(--orange);
    border-image-slice: 1;
    margin-right: 10px;
    margin-top: 14px;
}

.footer__btn {
	width: 298px;
	height: 54px;
	border-radius: 5px;
	background: var(--orange);
	margin-left: auto;
	font-size: 16px;
	transition: 0.2s ease;

}

.footer__btn a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
}

.footer__btn:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.footer__btn:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

.footer__subscribe-btn {
	color: #D31414;
	border: 1px solid #D31414;
	width: 129px;
    height: 42px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
}

.footer__end {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-bottom: 50px;
}

.footer__social {
	padding: 0;
	margin: 40px 0 0;

}

.footer__social-link {
	list-style: none;
	margin-bottom: 3px;

}

.footer__social-link a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	text-decoration: none;
}

.footer__social-link a:hover {
	color: var(--green);
	transition: color 0.3s ease;
}

.footer__nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	padding-bottom: 18px;
	margin-bottom: -15px;
}

.footer__nav-item {
	margin-left: 60px;
}

.footer__nav-link.active {
	color: orange;
}

.footer__nav-link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	text-decoration: none;
}

.footer__nav-link:hover{
	color: orange;
	transition: color 0.2s ease;
}


.footer__designed {
	display: flex;
	flex-direction: column;
	padding-bottom: 18px;
	margin-bottom: -15px;
}

.footer__designed a {
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 10px;
}

.footer__designed a:hover {
	color: var(--green);
	border-bottom: 1px solid var(--green);
	transition: 0.3s ease;
}

.footer__social-link svg {
	margin-right: 12px;
	position: relative;
	transition: 0.3s ease;
	top: 7px;
}

.footer__social-link svg circle {
	transition: 0.3s ease;
}

.footer__social-link:hover svg circle {
	fill: green;
}

