/*Var*/
:root {
	--green: #4B9200;
	--orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	--yellow: #FFEE2E;
	--orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--pink_grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--red: #D31414;
	--black_blue: #333B41;
	--gray: #767474;
	--gray_smoky: #ABABAB;
	--light_gray: #F1F3F2;
	--frosted_glass: rgba(253, 253, 255, 0.52);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6, p {
 	margin: 0;
    font-weight: inherit;
    font-size: inherit;
 }

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    background: #FFF;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

button {
	text-transform: uppercase;
	border: none;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
	color: #FFF;
	cursor: pointer;
}

/*Header*/
.header {
	background: #000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: 14px 0 14px 0;
}

.header__logo h1{
	text-align: center;
	padding-top: 2px;
}

.header__logo h1 a {
	color: #FFF;
	font-size: 19px;
	text-decoration: none;
}

.header__logo-bamboo {
	position: relative;
	top: -25px;
	left: 8px;
	background: url(../../assets/icons/bamboo.svg) no-repeat;
    width: 20px;
    height: 40px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	list-style: none;
	margin-right: 58px;
}

.nav__item:first-child {
	margin-left: 24px;
}
.nav__link {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.nav__link.active {
	color: orange;
}

.nav__link:hover {
	color: orange;
}

.header__info-link {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.header__info-link:hover {
	color: orange;
}

/*Watch your favorite animal online*/

.panda {
	background: url(../../assets/images/panda.jpg) center no-repeat;
	background-size: cover;
	height: 700px;
}

.panda__content {
	display: flex;
	flex-direction: column;
}

.panda__text {
	width: 500px;
	height: 400px;
	color: #FFF;
	font-weight: 700;
	font-size: 106.5px;
	text-align: center;
	line-height: 75%;
	text-transform: uppercase;
	margin-left: auto;
	position: relative;
	z-index: 10;
	margin-top: 86px;
}

.panda__text::before {
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: block;
    background: var(--orange);
    position: absolute;
    top: -73px;
    right: 109px;
    z-index: -1;
}
.panda__text span {
	color: #FFEE2E;
}

.panda__button {
	width: 298px;
	height: 54px;
	border-radius: 25px;
	background: var(--orange);
	margin-left: auto;
	font-size: 16px;
	margin-top: 60px;
	margin-right: 98px;
	transition: 0.2s ease;
}

.panda__button:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.panda__button:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

/*Backstage*/

.backstage {
	margin: 140px 0 177px 0;
}

.backstage__container {
	display: flex;
	justify-content: space-between;
	color: var(--black_blue);
}

.backstage__content {
	display: flex;
	flex-direction: column;
	margin-left: 87px;
}

.backstage__title {
	font-size: 48px;
	line-height: 120%;
}

.backstage__subtitle {
	font-size: 24px;
	line-height: 120%;
	margin-top: 54px;
	margin-bottom: 14px;
}

.backstage__content p {
	font-size: 16px;
	line-height: 130%;
	margin-top: 20px;
}

.backstage__content p:last-child {
	line-height: 140%;
} 

/*Pets*/

.pets__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px 30px;
}

.pets__card {
	border-radius: 5px;
	border: 1px solid #FA6F32;
}

.pets__content {
	margin: 8px 16px 14px 11px;
}

.pets__name {
	text-transform: uppercase;
	font-weight: 500;
}

.pets__native {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}

.pets__img {
	border-radius: 5px 5px 0 0;
}

.pets__content.banana{
	background: url(../../assets/icons/banana-bamboo.svg) 100% 40% no-repeat;
}

.pets__content.meet{
	background: url(../../assets/icons/meet-fish.svg) 100% 40% no-repeat;
}





