/*Var*/
:root {
	--green: #4B9200;
	--orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	--yellow: #FFEE2E;
	--orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--pink_grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	--red: #D31414;
	--black_blue: #333B41;
	--gray: #767474;
	--gray_smoky: #ABABAB;
	--light_gray: #F1F3F2;
	--frosted_glass: rgba(253, 253, 255, 0.52);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
 }

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	background: #FFF;
	color: var(--black_blue);;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

button {
	text-transform: uppercase;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #FFF;
	cursor: pointer;
}

/*Header*/

.burger {
	display: none;
}

.header {
	background: #000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: 14px 0 14px 0;
}

.header__logo h1{
	text-align: center;
	padding-top: 2px;
}

.header__logo h1 a {
	color: #FFF;
	font-size: 19px;
	text-decoration: none;
}

.header__logo-bamboo {
	position: relative;
	top: -25px;
	left: 8px;
	background: url(../../assets/icons/bamboo.svg) no-repeat;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	list-style: none;
	margin-right: 58px;
}

.nav__item:first-child {
	margin-left: 24px;
}
.nav__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.nav__link.active {
	color: orange;
}

.nav__link:hover {
	color: orange;
}

.header__info-link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	color: #FFF;
}

.header__info-link:hover {
	color: orange;
}

/*Watch your favorite animal online*/

.panda {
	background: url(../../assets/images/panda.jpg) center no-repeat;
	background-size: cover;
	height: 700px;
}

.panda__content {
	display: flex;
	flex-direction: column;
}

.panda__text {
	width: 500px;
	height: 400px;
	color: #FFF;
	font-weight: 700;
	font-size: 106.5px;
	text-align: center;
	line-height: 75%;
	text-transform: uppercase;
	margin-left: auto;
	position: relative;
	z-index: 10;
	margin-top: 86px;
}

.panda__text::before {
	content: '';
	width: 465px;
	height: 465px;
	border-radius: 50%;
	display: block;
	background: var(--orange);
	position: absolute;
	top: -73px;
	right: 109px;
	z-index: -1;
}
.panda__text span {
	color: #FFEE2E;
}

.panda__button, .pets__button {
	width: 298px;
	height: 54px;
	border-radius: 25px;
	background: var(--orange);
	margin-left: auto;
	font-size: 16px;
	margin-top: 60px;
	margin-right: 98px;
	transition: 0.2s ease;
}

.panda__button:hover, .pets__button:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.panda__button:active, .pets__button:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

/*Backstage*/
.backstage {
	margin: 140px 0 177px 0;
	position: relative;
}

.backstage__right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-55%);
	z-index: -1;
}

.backstage__container {
	display: flex;
	justify-content: space-between;
	color: var(--black_blue);
}

.backstage__content {
	display: flex;
	flex-direction: column;
	margin-left: 87px;
}

.backstage__title {
	font-size: 48px;
	line-height: 120%;
}

.backstage__subtitle {
	font-size: 24px;
	line-height: 120%;
	margin-top: 54px;
	margin-bottom: 14px;
}

.backstage__content p {
	font-size: 16px;
	line-height: 130%;
	margin-top: 20px;
}

.backstage__content p:last-child {
	line-height: 140%;
} 

/*Pets*/
.pets {
	position: relative;
}

.pets__left-img {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(25%);
	z-index: -1;
}

.pets__right-img {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(40%);
	z-index: -1;
}

.pets__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px 30px;
	position: relative;
}

.arrow-left, .arrow-right {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background: var(--orange);
}

.arrow-right {
	right: -80px;
}

.arrow-left {
	left: -80px;
}

.arrow-left:hover, .arrow-right:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.3s ease;
}

.arrow-left:active, .arrow-right:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.3s ease;
}
.pets__card {
	border-radius: 5px;
	border: 1px solid #FA6F32;
	cursor: pointer;
}

.pets__content {
	margin: 0 16px 12px 13px;
}

.pets__name {
	text-transform: uppercase;
	font-weight: 500;
}

.pets__native {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}

.pets__img-container {
	display: inline-block;
	overflow: hidden;
}

.pets__img {
	border-radius: 5px 5px 0 0;
}

.pets__card:hover .pets__img{
	transform: scale(1.07);
	transition: ease 0.5s;
}

.pets__card:hover {
	background-color: var(--gray_smoky);
	transition: ease 0.5s;
}

.pets__content.banana{
	background: url(../../assets/icons/banana-bamboo.svg) 100% 40% no-repeat;
}

.pets__content.meet{
	background: url(../../assets/icons/meet-fish.svg) 100% 40% no-repeat;
}

.pets__button {
	display: block;
	margin: 80px auto 100px;
}

/*Pick and feed a friend*/

.food {
	background: var(--orange_grad);
	padding: 69px 0 100px;
}

.food__container {
	display: block;
	background: var(--frosted_glass);
	border-radius: 20px;
}

.food__title {
	text-align: center;
	color: #FE9013;
	font-size: 48px;
	line-height: 120%;
	padding-top: 40px;
}

.food__subtitle {
	margin: 30px 0 42px 100px;
	font-size: 24px;
}

.food__covid {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	margin-left: 100px;
}

.food__donate {
	line-height: 130%;
	margin: 10px 0 60px 100px;
}

.food__donate-link {
	color: var(--black_blue);
	border-bottom: 1px solid #FE9013;
	text-decoration: none;
}

.food__donate-link:hover {
	color: #FE9013;
	transition: color ease 0.2s;
}

.food__subtitle-work {
	text-align: center;
	font-size: 36px;
	line-height: 130%;
	margin-bottom: 40px;
}

.food__button {
	width: 298px;
	height: 54px;
	border-radius: 25px;
	background: var(--orange);
	font-size: 16px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 60px;
	margin-bottom: 60px;
	transition: 0.2s ease;

}

.food__button a {
	text-decoration: none;
	color: #FFF;
	padding: 20px 60px;
}

.food__button:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.food__button:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

.widjet {
	display: flex;
	justify-content: space-between;
	width: 764px;
	margin: 0 auto;
}

.widjet__card {
	width: 168px;
}

.widjet__img-conteiner {
	width: 168px;
	height: 168px;
	border-radius: 5px;
	background: #FFF;
	border: 1px solid #FA6F32;
}

.widjet__img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.widjet__text {
	margin-top: 31px;
	line-height: 140%;
}

.widjet__arrow {
	margin-top: 60px;
}

/*Testimonials*/

.testimonials {
	position: relative;
}

.testimonials__leav {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(33%);
	z-index: -1;
}

.testimonials__title {
	margin-top: 140px;
	margin-bottom: 48px;
	text-align: center;
	font-size: 36px;
	line-height: 130%;
}

.testimonials__contet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	margin-bottom: 13px;
}

.testimonials__card {
	background: #F1F3F2;
	border-radius: 20px;
	position: relative;
	width: 100%;
	height: 391px;
}

.testimonials__conteiner {
	margin: 15px 0 10px 15px;
	display: flex;
}

.testimonials__conteiner2 {
	margin-left: 10px;
}
.testimonials__img {
	width: 37px;
	height: 37px;
}

.testimonials__card::before {
	content: "";
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	border-radius: 24px;
	background: var(--pink_grad);
	z-index: -1;
}

.testimonials__name {
	line-height: 120%;
	color: #000;
}

.testimonials__place {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #BDBDBD;
}

.testimonials__text {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: var(--gray);
	margin-top: 10px;
	padding: 0 15px 13px;
	height: 308px;
	overflow: hidden;
}

.testimonials__progress {
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 26px;
	border-radius: 5px;
	position: relative;
}
.testimonials__progress::before {
	content: "";
	position: absolute;
	height: 10px;
	left: -1px;
	bottom: 5px;
	right: -1px;
	border-radius: 5px;
}
.testimonials__progress input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 0px;
	width: 0px;
}
.testimonials__progress #range {
	position: relative;
	background: linear-gradient(to right, #F9804B 0%, #F9804B 20%, #F1F3F2 0%, #F1F3F2 100%);
	border-radius: 5px;
	border: 1px solid #FEBDAB;
	cursor: pointer;
	height: 8px;
	width: 100%;
	outline: none;
	-webkit-transition: background 450ms ease-in;
	-o-transition: background 450ms ease-in;
	transition: background 450ms ease-in;
	-webkit-appearance: none;
}

.testimonials__btn {
	width: 298px;
	height: 54px;
	border-radius: 5px;
	background: var(--orange);
	font-size: 16px;
	transition: 0.2s ease;
	margin-bottom: 180px;
}

.testimonials__btn:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.testimonials__btn:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}
/*Footer*/

.footer {
	background: #111115;
}

.footer__header {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin-bottom: 36px;
}

.footer__logo {
	display: inline-block;
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}

.footer__logo a {
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 19px;
	text-decoration: none;
}

.footer__logo-bamboo {
	position: relative;
	top: -25px;
	left: 8px;
	background: url(../../assets/icons/bamboo.svg) no-repeat;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.footer__nav {
	margin: 0;
}

.footer__subscribe-title {
	font-size: 24px;
	line-height: 120%;
	color: #FFF;
}

.footer__social-two {
	display: none;
}

.footer__form input[type=email] {
	width: 228px;
	outline: none;
	background: #111115;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	font-size: 1rem;
	color: #FFF;
	padding: 10px;
	border: 0.7px solid;
	border-image: var(--orange);
	border-image-slice: 1;
	margin-right: 10px;
	margin-top: 14px;
}

.footer__btn {
	width: 298px;
	height: 54px;
	border-radius: 5px;
	background: var(--orange);
	margin-left: auto;
	font-size: 16px;
	transition: 0.2s ease;
}

.footer__btn a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
}

.footer__btn:hover {
	box-shadow: inset 0 0 0 1.8em #E47209;
	transition: 0.2s ease;
}

.footer__btn:active {
	box-shadow: inset 0 0 0 1.8em var(--green);
	transition: 0.2s ease;
}

.footer__subscribe-btn {
	color: #D31414;
	border: 1px solid #D31414;
	width: 129px;
	height: 42px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 16px;
}

.footer__end {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-bottom: 50px;
}

.footer__social {
	padding: 0;
	margin: 40px 0 0;

}

.footer__social-link {
	list-style: none;
	margin-bottom: 3px;
}

.footer__social-link a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	text-decoration: none;
}

.footer__social-link a:hover {
	color: var(--green);
	transition: color 0.3s ease;
}

.footer__nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	padding-bottom: 18px;
	margin-bottom: -15px;
}

.footer__nav-item {
	margin-left: 60px;
}

.footer__nav-link.active {
	color: orange;
}

.footer__nav-link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	text-decoration: none;
}

.footer__nav-link:hover{
	color: orange;
	transition: color 0.2s ease;
}

.footer__designed {
	display: flex;
	flex-direction: column;
	padding-bottom: 18px;
	margin-bottom: -15px;
}

.footer__designed a {
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 10px;
}

.footer__designed a:hover {
	color: var(--green);
	border-bottom: 1px solid var(--green);
	transition: 0.3s ease;
}

.footer__social-link svg {
	margin-right: 12px;
	position: relative;
	transition: 0.3s ease;
	top: 7px;
}

.footer__social-link svg circle {
	transition: 0.3s ease;
}

.footer__social-link:hover svg circle {
	fill: green;
}

/*Media*/

@media (max-width: 1599px) {

.backstage__right {
	display: none;
}

}

@media (max-width: 1440px) {	

.header {
	position: relative;
	z-index: 20;
}
.container {
	max-width: 940px;
}

.nav__item {
	margin-right: 48px;
}

.panda {
	height: 504px;
}

.panda__text {
	font-size: 85px;
	margin-top: 45px;
	height: 356px;
	width: 510px;
}

.panda__text::before {
	width: 367px;
	height: 367px;
	top: -55px;
	right: 147px;
}

.panda__button {
	margin-top: 0;
	margin-right: 103px;
}

/*backstage*/

.backstage {
	margin: 100px 0 146px 0;
}

.backstage__img img{
	width: 455px;
	height: 408px;
	margin-top: 10px;
}

.backstage__content {
	margin-left: 30px;
}

/*pets*/

.pets__img {
	width: 294px;
	height: 294px;
}

.pets__container {
	grid-gap: 95px 26px;
}

.pets__button {
	margin-bottom: 140px;
}
.arrow-left {
	left: 34%;
}

.arrow-right {
	right: 34%;
}

.pets__left-img {
	width: 20%;
	height: 25%;
	bottom: -83px;
}

.pets__right-img {
	width: 23%;
	height: 18%;
	bottom: -73px;
}

/*food*/

.food {
	padding-top: 30px;
	padding-bottom: 50px;
}

.food__title {
	padding-top: 33px;
}

.food__subtitle {
	margin: 20px 0 20px 50px;
}

.food__covid {
	margin-left: 50px;
}

.food__donate {
	margin: 10px 0 40px 50px;
}

.food__button {
	margin-top: 70px;
	margin-bottom: 50px;
}

/*testimonials*/

.testimonials__title {
	margin-top: 100px;
	margin-bottom: 30px;
}

.testimonials__card:nth-child(2) {
	display: none;
}

.testimonials__contet {
	grid-template-columns: 1fr 1fr 1fr;
}

.testimonials__progress {
	margin-bottom: 48px;
   max-width: 41%;
}

.testimonials__btn {
	margin-bottom: 140px;
}

.testimonials__leav {
	width: 20%;
	height: 44%;
	right: 0;
	bottom: 20px;
}

.footer .container {
	max-width: 915px;
}

}

@media (max-width: 980px) {

.header {
	position: fixed;
	top: 0;
	width: 100%;
}

main {
	padding-top: 34px;
}

.container {
	max-width: 600px;
}

.burger {
	display: block;
	background: none;
	border: 0;
	padding: 10px 2px;
	cursor: pointer;
	transition: transform 0.3s ease-out;
}

.burger-rotate {
	transform: rotate(90deg);
}

.burger__item {
	display: block;
	width: 18px;
   height: 2px;
	background-color: #FFF;
	color: transparent;
	font-size: 0;
	position: relative;
	border-radius: 2px;
}

.burger__item::before,
.burger__item::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	left: 0;
	z-index: 1;
	transition: transform .2s linear;
	border-radius: 2px;
}

.burger__item::before {
	top: -4px;
}

.burger__item::after {
	bottom: -4px;
}

.nav__list {
	display: none;
}

.nav {
	width: 100%;
}

.header__info {
	display: none;
}

.header__logo h1 a {
	font-size: 12.3px;
}

.header__logo {
	border: none;
	margin: 0;
	width: 64px;
	height: 34px;
}

.header__logo h1 {
	padding-top: 0; 
	line-height: 100%;
}

/*panda*/

.panda {
	height: 340px;
}

.panda__text {
	font-size: 54.3px;
	line-height: 75%; 
	height: 200px;
	width: 237px;
}


.panda__text::before {
	width: 238px;
	height: 238px;
	top: -35px;
	right: 43px;
}

.panda__button {
	margin-left: 10px;
}

/*backstage*/

.backstage {
	margin: 60px 0 80px 0;
}

.backstage__img {
	display: none;
}

.backstage__right {
	display: inline-block;
}

.backstage__right {
	width: 20%;
	height: 20%;
}

.backstage__right {
	width: 24%;
	height: 120%;
	right: 0;
}

.backstage__content {
	margin-left: 10px;
	width: 495px;
}

.backstage__subtitle {
	margin-top: 30px;
	margin-bottom: 0px;
}

/*pets*/

.pets__container {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 88px 35px;
}

.pets__card:nth-child(3n) {
	display: none;
}

.pets__img {
	width: 285px;
	height: 285px;
}

.pets__name {
	font-size: 12.5px;
	line-height: 140%;
}

.pets__native {
	font-size: 11.7px;

}

.pets__content {
	margin: 0px 0px 8px 12px;
}

.arrow-left {
	left: 38%;
}

.arrow-right {
	right: 36%;
}

.pets__button {
	margin-top: 58px;
	margin-bottom: 100px;
}

.pets__left-img {
	bottom: -60px;
}

.pets__right-img {
	bottom: -45px;
	width: 25%;
   height: 16%;
}

.widjet {
	width: 590px;
}

.widjet__arrow {
	display: none;
}

.food {
	padding-top: 20px;
	padding-bottom: 20px;
}

.food__title {
	font-size: 42px;
	padding-top: 10px;
}

.food__subtitle {
	margin-left: 20px;
	font-size: 22px;
}

.food__covid {
	margin-left: 20px;
}

.food__donate {
    margin: 10px 0 30px 20px;
}

.food__subtitle-work {
	margin-bottom: 18px;
}

.food__button {
	margin-top: 40px;
	margin-bottom: 60px;
	transform: translate(-47%, 0);
}

.widjet__card {
	position: relative;
}

.widjet__card:nth-child(1)::after, .widjet__card:nth-child(3)::after{
	content: '';
	width: 100px;
	height: 70px;
	display: block;
	background: url(../../assets/icons/arrow-widjet.svg) no-repeat;
	position: absolute;
	top: -17px;
	right: -72px;
	z-index: 1;
}

/*testimonials*/

.testimonials__title {
	margin-top: 60px;
}

.testimonials__contet {
	grid-template: repeat(3, 1fr)/1fr;
	grid-gap: 13px;
}

.testimonials__card {
	height: 109px;
	overflow: hidden;
	border:  1px solid #FEBDAB;

}

.testimonials__progress {
	display: none;
}

.testimonials__text {
	padding: 0 24px 0px;
	height: 34px;
}  

.testimonials__btn {
	margin: 40px auto 83px;
	display: block;
	width: 240px;
}

.testimonials__leav {
	height: 39%;
	right: 0;
	bottom: -86px;
}

/*footer*/
.footer {
	position: relative;
}

.footer__subscribe {
	display: none;
}

.footer .container {
	max-width: 580px;
	position: relative;
}

.footer__header {
	padding-top: 13px;
	margin-bottom: 32px;
}

.footer__social {
	display: none;
}

.footer__end {
	margin-top: 57px;
	padding-bottom: 20px;
}

.footer__nav {
	padding: 0;
	margin: 0 auto;
	text-align: left;
}

.footer__nav-item {
	margin-left: 0;
	margin-right: 37px;
}


.footer__social-two {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
}

.footer__social-two a {
	text-decoration: none;
	margin-top: 15px;
	border-radius: 50%;

}

.footer__social-two a:hover {
	box-shadow: inset 0 0 0 1.5em green;
	transition: 0.3s ease;
}

}

@media (max-width: 768px) {

.food .container {
	max-width: 100%;
}

}


@media (max-width: 630px) {

.container {
	max-width: 300px;
}

.panda__text {
	font-size: 28px;
	width: 128px;
	height: 102px;
	margin-top: 41px;
}

.panda__text::before {
	width: 119px;
	height: 119px;
	top: -19px;
	right: 30px;
}

.panda {
	height: 187px;
}

.panda__button {
	margin: 63px 0 0;
}

.backstage__title {
	font-size: 24px;
}

.backstage__container {
	margin-top: 105px;
}

.backstage__content {
	margin-left: 0;
}

.backstage__content p {
	margin-top: 10px;
}

.backstage__subtitle {
	margin-top: 20px;
}

.backstage__content p:last-child {
	line-height: 137%;
}

.backstage__right {
	width: 22%;
	height: 62%;
	right: 0;
	top: 16%;
}

.backstage {
	margin-bottom: 40px;
}

.arrow-left {
	display: none;
}

.arrow-right {
	display: none;
}

.pets__container {
	grid-template-columns: 1fr;
	grid-gap: 19px 10px;
}

.pets__card {
	width: 287px;
}

.pets__content.meet {
	background-position: 100%;
}

.pets__content.banana {
	background-position: 95%;
}

.pets__button {
	margin-top: 15px;
	margin-bottom: 60px;
}

.pets__left-img {
	width: 16%;
	height: 8%;
	bottom: -65px;
}

.pets__right-img {
	bottom: -33px;
	width: 28%;
	height: 5%;
	right: 0;
}

.food .container {
	max-width: 300px;
}

.food__title {
	font-size: 24px;
	padding-top: 20px;
}

.food__subtitle {
	font-size: 18px;
	margin-left: -5px;
	text-align: center;
	margin-top: 10px;
}

.food__covid {
	display: none;
}

.food__donate {
	display: none;	
}

.food__subtitle-work {
	font-size: 24px;
}

.widjet {
	flex-direction: column;
	width: 300px;
}

.widjet__card {
	margin: 0 auto 30px;
}
.widjet__card:nth-child(1)::after, .widjet__card:nth-child(3)::after {
	transform: rotate(83deg);
	top: 176px;
   right: -45px;
}

.widjet__text {
	margin-top: 8px;
	margin-bottom: 8px;
}

.food__button {
	margin-bottom: 38px;
	left: 47%;
	margin-top: 0;
}

.testimonials__title {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 18px;
}

.testimonials__contet {
	grid-gap: 16px;
}

.testimonials__conteiner {
	margin: 10px 0 10px 8px;
}

.testimonials__text {
	padding: 0 16px 0px;
}

.testimonials__btn {
	margin: 30px auto 60px;
}

.testimonials__leav {
	height: 27%;
	right: 0px;
	bottom: -78px;
}

.footer__logo {
	width: 132px;
	border: none;
	margin: 19px auto 0;
	height: 38px;
}

.footer__header {
	flex-direction: column;
	padding-top: 0px;
	margin-bottom: 0px;
}

.footer__social-two {
	flex-direction: row;
	position: static;
	margin: 0 auto 26px;
	width: 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer__logo-bamboo {
	left: 73px;
}

.footer__social-two a {
	margin-right: 30px;
}

.footer__btn {
	margin: 0 auto;
	display: block;
}

.footer__end {
	flex-direction: column;
	margin-top: 20px;
}

.footer__nav {
	order: 2;
	width: 300px;
	margin-top: 30px;
}

.footer__designed {
	order: 1;
}

.footer__nav-item {
	margin-right: 28px;
}

.footer__designed a {
	font-weight: 100;
	font-size: 15px;
	line-height: 120%;
	margin-right: 10px
}

}



